body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  img {
    height: 50px;
    width: 50px;
  }
  
  .friends-post__img {
    height: 100px;
    width: 100px;
  }
  .chat_bar-img {
    height: 30px;
    width: 30px;
  }
  